<header>
    <div class="custom-container">
        <div class="navbar">
            <div class="navbar-logo">
                DummyBlog
            </div>
            <ul class="navbar-list">
                <li class="navbar-list-item"><a [routerLink]="['/']">Home</a></li>
                <li class="navbar-list-item"><a [routerLink]="['blog']">Blog</a></li>
                <li class="navbar-list-item">About</li>
                <li class="navbar-list-item"><a [routerLink]="['contact-us']">Contact Us</a></li>
            </ul>
            <div class="navbar-social">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
</header>