<div class="skeleton__blog">
    <div class="skeleton__blog-image">
        <span class="skeleton-box" style="width:100%; height: 258px;"></span>
    </div>

    <div class="skeleton__blog-date date">
        <span class="skeleton-box" style="width:60%;"></span>
    </div>

    <h5 class="skeleton__blog-title">
        <span class="skeleton-box" style="width:90%;"></span>
    </h5>

    <p class="skeleton__blog-description">
        <span class="skeleton-box" style="width:80%;"></span>
        <span class="skeleton-box" style="width:90%;"></span>
        <span class="skeleton-box" style="width:83%;"></span>
        <span class="skeleton-box" style="width:80%;"></span>
    </p>
</div>