.blog-sm {
    max-width: 35rem;

    @media screen and (max-width: 600px) {
        max-width: none;
        width: 100%;
    }
    &-image {
        img {
            max-width: none;
            width: 10rem;
            height: 7rem;

            @media screen and (max-width: 600px) {
                width: 12rem;
                height: 8rem;
            }
        }
    }

    &-title {
        @apply cursor-pointer font-semibold;
        color: var(--black);
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
        transition: all 0.2s ease;

        @media screen and (max-width: 500px) {
            font-size: 14px;
        }

        &:hover {
            color: #5d5d5d;
            transition: all 0.2s ease;
        }
    }

    &-date {
        margin-bottom: 0;
    }
}