<div class="custom-container">
    <img src="../../../assets/images/about.jpg" alt="">

    <div class="contact">
        <h1 class="contact-title">Get in touch with Me</h1>
        <p class="contact-help-text">
            Pellentesque sagittis nibh venenatis sapieni congue consectetur. Integer nulla nunc, efficitur sit amet sagittis sed, suscipit et magna. Nulla porttitor neque non dapibus nec elit tristique sagittis.
        </p>
        <h2 class="contact-detail">kevalvadhiya101@gmail.com</h2>
        <h2 class="contact-detail">+91 635 413 9675</h2>

        <div class="contact-form">
            <div class="contact-form-field">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
            </div>
            <textarea name="Comment" id="coment" cols="30" rows="10" placeholder="Comment" class="w-full"></textarea>
            <button type="submit">Submit</button>
        </div>
    </div>
</div>