<div class="custom-container">
    <img src="../../../assets/images/about.jpg" alt="">

    <div class="contact">
        <h1 class="contact-title">Get in touch with Me</h1>
        <p class="contact-help-text">
            We're thrilled that you're here! Whether you have a question, a suggestion, or just want to say hello, we'd love to hear from you. Your feedback and inquiries are important to us, and we're committed to making your experience with our blog as seamless as possible.
        </p>
        <p class="contact-help-text">
            We strive to respond promptly to all messages. Your thoughts and ideas are invaluable to us as we continue to improve and provide you with the best content and experiences.
        </p>
        <p class="contact-help-text">
            Thank you for being a part of our community and for sharing in our passion. Your engagement is what keeps us going!
            <br>
            Let's connect, and let's make this blog even better together!
        </p>
        <p class="contact-detail">quickblogs.dev@gmail.com</p>

        <div class="contact-form">
            <div class="contact-form-field">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
            </div>
            <textarea name="Comment" id="coment" cols="30" rows="10" placeholder="Comment" class="w-full"></textarea>
            <button type="submit">Submit</button>
        </div>
    </div>
</div>