
<div class="custom-container">
    <article class="post">
        <div class="post-image">
            <img src="../../../../assets/images/1.jpg" alt="">
        </div>
        <div class="post-wrapper">
            <div class="post-date">PHOTOGRAPHY - NOV 11, 2020</div>
            <h3 class="post-title">Cursus modo officiis liberavisse congue mgolestied eget</h3>
            <p class="post-description"> Oratio pertinax cu vix, id his aliquam habemus tractatos. Eu vis cursus modo officiis liberavisse id invidunt adipiscing cursus has. The tincidunt nun accumsan nec laoreet.</p>
            <div class="post-btn">Read More <i class="fas fa-long-arrow-alt-right ml-1"></i></div>
        </div>
    </article>
</div>