
<div class="custom-container">
    <article class="post">
        <div class="post-image">
            <img [src]="post?.thumbnail" [alt]="'Image for ' + post?.title" loading="lazy">
        </div>
        <div class="post-wrapper" [class.post-animation]="initSlide" *ngIf="initSlide">
            <div class="post-date">{{post?.tags}} - {{post?.date}}</div>
            <h3 class="post-title">{{post?.title}}</h3>
            <p class="post-description text-clamp">{{post?.intro}}</p>
            <div class="post-btn">
                <a [routerLink]="['blog', post?.id, convertNameIntoLink(post?.title)]" 
                [attr.aria-label]="'Explore More About ' + getReadMoreLink(post?.title)">
                    Explore More About {{getReadMoreLink(post?.title)}} <i class="fas fa-long-arrow-alt-right ml-1"></i>
                </a> 
            </div>
        </div>
    </article>
</div>