<div class="flex">
    <div class="skeleton-box" style="width: 560px; height: 460px;"></div>
    <div class="flex-col flex justify-center" style="width: 50%; height: 460px;">
        <div class="skeleton__content h-full">
            <p class="mb-8">
                <span class="skeleton-box" style="width:60%;"></span>
                <span class="skeleton-box" style="width:90%;"></span>
            </p>
            <p class="mb-8">
            <span class="skeleton-box" style="width:80%;"></span>
            <span class="skeleton-box" style="width:90%;"></span>
            <span class="skeleton-box" style="width:83%;"></span>
            </p>
            <span class="skeleton-box" style="width:80%;"></span>
        </div>
    </div>
</div>