.skeleton {
    &__content {
        @apply px-24 py-44;
        background-color: #f8f7f3;

        @media screen and (max-width: 768px) {
            @apply px-16 py-24 flex-grow;
        }

        @media screen and (max-width: 600px) {
            @apply px-12 py-16;
        }
    }

    &__banner {
        @media screen and (max-width: 768px) {
            flex-direction: column;

            .image {
                height: 210px !important;
            }

            .content {
                width: 100% !important;
                height: 340px !important;
            }
        }
    }
}