
<div class="wrapper">
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of slides">
            <ng-template class="slide" carouselSlide>
          <app-new-post></app-new-post>
        <!-- <img [src]="slide.url" [alt]="slide.id" [title]="slide.id"> -->
      </ng-template>
    </ng-container>

  </owl-carousel-o>  
</div>
<br>
<br>
<br>
<div class="custom-container">
    <div class="flex gap-8 flex-wrap">
        <div *ngFor="let item of items">
            <app-blog-card></app-blog-card>
        </div>
    </div>
    <app-load-more-btn></app-load-more-btn>
    <br>
    <br>
    <br>
    <h1 class="section-title">Trending Blogs</h1>
    <div class="flex gap-8 flex-wrap">
        <ng-container *ngFor="let item of items">
            <app-blog-card-sm></app-blog-card-sm>
        </ng-container>
    </div>
    <br>
    <br>
    <br>
    <app-news-letter></app-news-letter>
</div>
<br>
<br>
<br>