::ng-deep .owl-nav {
    @apply flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

::ng-deep .owl-theme .owl-nav [class*=owl-] {
    @apply flex justify-center items-center;
    width: 60px;
    height: 56px;
    background: #ffd46d;
    transition: all 0.4s ease;
}

::ng-deep .owl-theme .owl-nav [class*=owl-]:hover {
    background: #869791;
    transition: all 0.4s ease;

    i {
        color: var(--black);
    }
}
.wrapper {
    position: relative;
}