<div class="custom-container mb-12">
    <h1 class="section-title">{{blogType | titlecase}} Blogs</h1>

    <!-- post-list-section -->
    <ng-container>
        <div class="blog-cards">
            <div *ngFor="let blog of blogs">
                <app-blog-card [post]="blog"></app-blog-card>
            </div>
        </div>
        <app-load-more-btn *ngIf="blogs.length >= 10"></app-load-more-btn>
    </ng-container>

    <ng-container *ngIf="!blogs.length">
        <app-no-data-found></app-no-data-found>
    </ng-container>
</div>