<div class="blog-form__container">
    <form [formGroup]="blogForm" class="blog-form__fields form border">
        <div class="blog-form__fields-group">
            <input type="text" placeholder="Title" formControlName="title">
        </div>

        <div class="blog-form__fields-group">
            <input type="number" placeholder="Id" formControlName="id">
        </div>

        <div class="blog-form__fields-group">
            <textarea type="text" placeholder="Intro" formControlName="intro"></textarea>
        </div>

        <div class="blog-form__fields-group">
            <input type="text" placeholder="Thumbnail" formControlName="thumbnail">
        </div>

        <div class="blog-form__fields-group">
            <input type="text" placeholder="Date" formControlName="date">
        </div>

        <div formArrayName="paragraph" class="blog-form__fields !p-0">
            <div *ngFor="let paragraph of paragraphControls; let i = index" class="blog-form__fields-group" [formGroupName]="i">
                <div formGroupName="content" class="blog-form__fields-group paragraph-group flex-col" *ngIf="paragraph.get('content')">
                    <input type="text" formControlName="para_title" placeholder="Paragraph Title">
                    <textarea formControlName="para_text" class="form-control"
                        placeholder="Paragraph Text"></textarea>
                    <button type="button" (click)="removeParagraph(i)" class="btn btn-danger remove-btn">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                    </button>
                </div>

                <div formGroupName="images" class="blog-form__fields-group paragraph-group flex-col" *ngIf="paragraph.get('images')">
                    <input type="text" formControlName="path" placeholder="Image Path">
                    <input type="text" formControlName="title" placeholder="Image Title">
                    <button type="button" (click)="removeParagraph(i)" class="btn btn-danger remove-btn">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                    </button>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="addParagraph()">Add Paragraph</button>
        <button type="button" class="btn btn-primary" (click)="addParagraphImage()">Add Paragraph Image</button>


        <div formArrayName="tags" class="blog-form__fields !p-0">
            <div *ngFor="let tag of tagsControls; let i = index" class="blog-form__fields-group">
                <input type="text" id="tag{{i}}" [formControlName]="i" class="form-control" placeholder="Tag">
            </div>
        </div>

        <div class="blog-form__fields-group">
            <textarea type="text" placeholder="Conclusion" formControlName="conclusion"></textarea>
        </div>

        <div formGroupName="meta" class="blog-form__fields !p-0">
            <div class="blog-form__fields-group">
                <input type="text" placeholder="Meta Title" formControlName="title">
            </div>
            <div class="blog-form__fields-group">
                <input type="text" placeholder="Meta Description" formControlName="description">
            </div>
            <div class="blog-form__fields-group">
                <input type="text" placeholder="Meta Keywords" formControlName="keywords">
            </div>
        </div>

        <div class="blog-form__fields-group">
            <input type="checkbox" id="isTrending" placeholder="Is Trending" formControlName="isTrending">
            <label for="isTrending">Is Trending</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
    </form>
</div>