.article {
    @apply flex;
    column-count: 2;
    height: 460px;
    overflow-y: hidden;

    @media screen and (max-width: 768px) {
        column-count: 1;
        @apply flex-col p-0 h-auto;
        height: 585px;
    }

    @media screen and (max-width: 600px) {
        height: 510px;
    }

    &-content,
    &-image {
        width: 50%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &-image {
        max-width: 600px;
        img {
            height: 100%;
            object-fit: cover;

            @media screen and (max-width: 768px) {
                height: 300px;
            }

            @media screen and (max-width: 600px) {
                height: 260px;
            }

            @media screen and (max-width: 450px) {
                height: 170px;
            }
        }
    }

    &-content {
        @apply px-24 py-44;
        background-color: #f8f7f3;

        @media screen and (max-width: 768px) {
            @apply px-16 py-24 flex-grow;
        }

        @media screen and (max-width: 600px) {
            @apply px-12 py-16;
        }
    }

    &-title {
        @apply mb-5 font-semibold cursor-pointer;
        color: var(--black);
        font-size: 2.8rem;
        margin-top: 0;
        line-height: 1.4;
        transition: all 0.2s ease;

        &:hover {
            color: #5d5d5d;
            transition: all 0.2s ease;
        }
    }

    &-description {
        line-height: 1.75;
        margin-bottom: 2rem;

        @media screen and (max-width: 600px) {
            font-size: 14px;
        }
    }

    &-btn {
        @apply font-semibold cursor-pointer;
        color: var(--black);
        transition: all 0.2s ease;

        &:hover {
            color: #5d5d5d;
            transition: all 0.2s ease;
        }
    }
}

.text-clamp{
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;  
}