<article>
    <div class="article">
        <div class="article-image">
            <img [src]="post?.thumbnail" [alt]="'Image for ' + post?.title" height="460" width="550">
        </div>
        <div class="article-content">
            <div class="article-date date">{{post?.tags}} - {{post?.date}}</div>
            <a [routerLink]="['blog', post?.id, convertNameIntoLink(post?.title)]">
                <h1 class="article-title">
                    {{post?.title}}
                </h1>
            </a>
            <p class="article-description text-clamp">{{post?.intro}}</p>
            <div class="article-btn">
                <a [routerLink]="['blog', post?.id, convertNameIntoLink(post?.title)]" 
                [attr.aria-label]="'Explore More About ' + getReadMoreLink(post?.title)">
                    Explore More About {{getReadMoreLink(post?.title)}} <i class="fas fa-long-arrow-alt-right ml-1"></i>
                </a> 
            </div>
        </div>
    </div>
</article>