<article>
    <div class="article">
        <div class="article-image">
            <img [src]="post?.thumbnail" [alt]="post?.title" loading="lazy">
        </div>
        <div class="article-content">
            <div class="article-date date">{{post?.tags}} - {{post?.date}}</div>
            <h3 class="article-title">
                <a [routerLink]="['blog', post?.id]"> {{post?.title}} </a>
            </h3>
            <p class="article-description text-clamp">{{post?.intro}}</p>
            <div class="article-btn">
                <a [routerLink]="['blog', post?.id]" [attr.aria-label]="setAreaLabel(post?.title)">
                    Read More <i class="fas fa-long-arrow-alt-right ml-1"></i>
                </a> 
            </div>
        </div>
    </div>
</article>