<article>
    <div class="article">
        <div class="article-image">
            <img src="../../../../assets/images/1.jpg" alt="image">
        </div>
        <div class="article-content">
            <div class="article-date date">PHOTOGRAPHY - NOV 11, 2020</div>
            <h3 class="article-title">Genean mattis tortor ac sapien congue modo mgolestie eget dolor</h3>
            <p class="article-description"> Oratio pertinax cu vix, id his aliquam habemus tractatos. Eu vis cursus modo officiis liberavisse id invidunt adipiscing cursus has. The tincidunt nun accumsan nec laoreet.</p>
            <div class="article-btn">Read More <i class="fas fa-long-arrow-alt-right ml-1"></i></div>
        </div>
    </div>
</article>