.humburger {
    @apply p-4 bg-gray-200 rounded-full z-50;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    i {
        font-size: 2.5rem;
        transition: all 0.4s ease;
        transform: rotate(360deg);
        &.rotate-icon {
            transition: all 0.4s ease;
            transform: rotate(180deg);
        }

    }

    @media screen and (min-width: 600px) {
        display: none;
    }

    @media screen and (max-width: 600px) {
        display: block;
    }


}

.faded-in {
    @media screen and (max-width: 600px) {
        @apply z-50 w-full;
        background: #f8f7f3;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s ease;
    }   
}

.faded-out {
    @media screen and (max-width: 600px){
        @apply z-50 w-full;
        position: absolute;
        top: 0;
        left: -650px;
        transition: all 0.5s ease;
    }
}

.top-toggle {
    @apply fixed rounded-full;
    background-color: var(--primary-light);
    bottom: 40px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
    opacity: 1;
    animation: to-bottom 0.5s ease-in;

    @media screen and (max-width: 600px) {
        width: 35px;
        height: 35px;
    }
}

.toggle.top-toggle {
    animation: to-top 1s ease-in;
}

.fa-arrow-up:before {
    font-size: 24px;

    @media screen and (max-width: 600px) {
        font-size: 16px
    }
}

@keyframes to-bottom {
    from {
        bottom: -40px;
        opacity: 0;
    }
    to {
        bottom: 40px;
        opacity: 1;
    }
}

@keyframes to-top {
    from {
        bottom: 40px;
        opacity: 1;
    }
    to {
        bottom: -40px;
        opacity: 0;
    }
}