<div class="flex flex-col h-screen">
  <app-header [isMenuOpened]="isMenuOpened" [class.faded-in]="isMenuOpened" [class.faded-out]="!isMenuOpened"></app-header>
  <div class="flex-grow">
    <router-outlet (activate)="routerChange()"></router-outlet>
  </div>
  <app-footer></app-footer>
</div>

<ng-container>
  <button class="humburger" (click)="openMenu()">
      <i class="fa-solid fa-arrow-right" [class.rotate-icon]="isMenuOpened"></i>
  </button>
</ng-container>

<button class="top-toggle" (click)="backToTop()" *ngIf="isScrollDown" name="top-toggle-button" [class.toggle]="isScrollClicked">
  <i class="fas fa-arrow-up"></i>
</button>
<!-- <div class="wrapper">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of apiData">
      <ng-template class="slide" carouselSlide [id]="slide.id">
        <img [src]="slide.url" [alt]="slide.id" [title]="slide.id">
      </ng-template>
    </ng-container>

  </owl-carousel-o>  
</div> -->
