.blog {
    max-width: 350px;
    &-image {
        width: 350px;
        height: 258px;
        overflow: hidden;
    }
    &-date {
        padding-top: 24px;
    }

    &-title,
    &-discription {
        margin-bottom: 12px;
    }

    &-title {
        @apply font-semibold cursor-pointer;
        color: var(--black);
        font-size: 1.8rem;
        transition: all 0.2s ease;

        &:hover {
            color: #5d5d5d;
            transition: all 0.2s ease;
        }
    }
}