.blog {
    max-width: 35rem;

    @media screen and (max-width: 500px) {
        max-width: none;
        width: 100%;
    }

    &-image {
        width: 35rem;
        height: 25.8rem;
        object-fit: cover;
        overflow: hidden;

        @media screen and (max-width: 500px) {
            width: 100%;
            height: auto;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &-date {
        padding-top: 2.4rem;
    }

    &-title,
    &-discription {
        margin-bottom: 1.2rem;
    }

    &-title {
        @apply font-semibold cursor-pointer;
        color: var(--black);
        font-size: 1.8rem;
        transition: all 0.2s ease;

        @media screen and (max-width: 500px) {
            @apply mb-3;
            font-size: 2rem;
        }

        &:hover {
            color: #5d5d5d;
            transition: all 0.2s ease;
        }
    }
}