.footer {
    @apply py-36;
    background-color: var(--primary-light);

    @media screen and (max-width: 600px) {
        @apply p-16;
    }
    
    &-container {
        @apply flex justify-between;

        @media screen and (max-width: 500px) {
            @apply flex-col gap-6;
        }
    }

    &-logo {
        @apply font-semibold;
        color: var(--black);

        app-logo div {
            width: 170px !important;
        }

        @media screen and (max-width: 500px) {
            font-size: 4rem;
        }
    }

    &-links {
        color: var(--black);
        h1 {
            @apply mb-8 font-semibold;
            font-size: 2rem;

           @media screen and (max-width: 500px) {
                @apply mb-2;
                font-size: 2.4rem;
            }
        }
    }
}

.list-link {
    font-size: 1.8rem !important;
    font-weight: normal !important;
    li { 
        @media screen and (max-width: 500px) {
            font-size: 1.8rem !important;
        }
        &:not(:last-child) {
            @apply mb-3;
        }

        &.footer-links-social  {
            @media screen and (max-width: 500px) {
                @apply mt-6;
            }
        }

    }
}