<div class="footer">
    <div class="custom-container footer-container">
        <div class="footer-logo">
            <app-logo></app-logo>
            <ul class="list-link mt-10">
                <li><a href="https://quickblogs.vercel.app/">Home</a></li> 
                <li><a href="https://quickblogs.vercel.app/about-us">About Us</a></li> 
                <li><a href="https://quickblogs.vercel.app/privacy-policy">Privacy Policy</a></li> 
            </ul>
        </div>
        <!-- <div class="footer-links">
            <h5>About Us</h5>
            <ul>
                <li><a href="#">Keval Vadhiya</a></li> 
                <li><a href="#">Keval Vadhiya</a></li> 
            </ul>
        </div> -->
        <!-- <div class="footer-links">
            <h5>About Us</h5>
            <ul>
                <li><a href="#">Keval Vadhiya</a></li> 
                <li><a href="#">Keval Vadhiya</a></li> 
            </ul>
        </div> -->
        <div class="footer-links">
            <h5>Contact Us</h5>
            <ul class="list-link">
                <li><a href="#">quickblogs.dev@gmail.com</a></li> 
                <li class="footer-links-social">
                    <i class="fab fa-instagram mr-4"></i>
                    <a href="https://twitter.com/quick_blogs" area-label="follow us on twitter"><i class="fab fa-twitter mr-4"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>