<div class="footer">
    <div class="custom-container footer-container">
        <div class="footer-logo">
            DummyBlog
        </div>
        <div class="footer-links">
            <h5>About Us</h5>
            <ul>
                <li><a href="#">Keval Vadhiya</a></li> 
                <li><a href="#">Keval Vadhiya</a></li> 
            </ul>
        </div>
        <!-- <div class="footer-links">
            <h5>About Us</h5>
            <ul>
                <li><a href="#">Keval Vadhiya</a></li> 
                <li><a href="#">Keval Vadhiya</a></li> 
            </ul>
        </div> -->
        <div class="footer-links">
            <h5>Contact Us</h5>
            <ul>
                <li><a href="#">kevalvadhiya101@gmail.com</a></li> 
                <li>+91 635 413 9675</li> 
                <li>
                    <i class="fab fa-instagram mr-4"></i>
                    <i class="fab fa-twitter mr-4"></i>
                </li>
            </ul>
        </div>
    </div>
</div>