.load-btn {
    padding: .7em 2.2em;
    color: #212529;
    background-color: #f8f7f3;
    border-color: #f4f4f4;
    transition: all 0.4s ease;

    &:hover {
        background-color: #ddd;
        border-color: #ddd;
        box-shadow: 0 6px 12px 0 rgb(0 0 0 / 8%);
        transition: all 0.4s ease;
    }
}