<!-- 
<div class="custom-container">
    <owl-carousel-o [options]="customOptions" (change)="getPassedData($event)">
        <ng-container *ngFor="let blog of blogs">
            <ng-template class="slide" carouselSlide>
                <app-new-post-second [post]="blog"></app-new-post-second>
            </ng-template>
        </ng-container>
  </owl-carousel-o>  
</div> -->
<div class="custom-container mt-12">
    <!-- post-list-section -->
    <ng-container>
        <div class="flex gap-8 flex-wrap">
            <div *ngFor="let blog of blogs">
                <app-blog-card [post]="blog"></app-blog-card>
            </div>
        </div>
        <app-load-more-btn *ngIf="blogs.length"></app-load-more-btn>
    </ng-container>

    <!-- post-list-by-tags -->
    <ng-container>
        <h1 class="section-title">Trending Blogs</h1>
        <div class="flex gap-8 flex-wrap">
            <ng-container *ngFor="let blog of blogs">
                <app-blog-card-sm [post]="blog"></app-blog-card-sm>
            </ng-container>
        </div>
    </ng-container>
    <br>
    <br>
    <br>
    <app-news-letter></app-news-letter>
</div>
<br>
<br>
<br>