::ng-deep .owl-nav {
    @apply flex;
    position: absolute;
    bottom: 0;
    right: 0;

    @media screen and (max-width: 600px) {
        bottom: 0;
    }
}

::ng-deep .owl-theme .owl-nav [class*=owl-] {
    @apply flex justify-center items-center;
    width: 60px;
    height: 56px;
    background: #ffd46d;
    transition: all 0.4s ease;

    @media screen and (max-width: 600px) {
        width: 40px;
        height: 36px;
    }
}

::ng-deep .owl-theme .owl-nav [class*=owl-]:hover {
    background: #869791;
    transition: all 0.4s ease;

    i {
        color: var(--black);
    }
}
.wrapper {
    position: relative;
}

.blog-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;

    @media screen and (max-width: 650px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 420px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
    }
}