.blog {

    &-image {
        @apply mx-auto;
        width: 90rem;
        height: auto;
        max-height: 57.5rem;
        object-fit: contain;
    }
    &-wrapper {
        padding-top: 5.4rem;
        margin: 0 18rem;
        padding-bottom: 30px;
        @media screen and (max-width: 992px) {
            padding-top: 3.4rem;
            margin: 0 10rem;
        }

        @media screen and (max-width: 768px) {
            padding-top: 2.4rem;
            margin: 0 6rem;
        }

        @media screen and (max-width: 600px) {
            padding-top: 2.4rem;
            margin: 0 2rem;
        }
    }
}

.sources {
    a {
        @apply block mb-2;
        transition: all 0.2s ease;
        &:hover {
            @apply text-blue-500;
            transition: all 0.2s ease;
        }
    }
}

.title {
    @apply font-semibold mb-8;
    color: var(--black);
    font-size: 3.2rem;
    line-height: 1.4;

    @media screen and (max-width: 768px) {
        line-height: 1.2;
    }
}

.description {
    p {
        @apply mb-6;
        line-height: 1.75;
        color: var(--grey);

        @media screen and (max-width: 600px) {
            font-size: 16px;
        }
        &:last-child {
            @apply mb-20
        }
    }
}

::ng-deep .description span {
    display: block;
    margin: 16px 0;
}

::ng-deep .description-p strong, h3 {
    font-size: 2rem !important;
    color: var(--black) !important;
    font-weight: 600 !important;

    @media screen and (max-width: 600px) {
        font-size: 20px !important;
        line-height: normal;
    }
}

::ng-deep .description-p .list-content {
    display: inline-block;
    margin-left: 20px;
}

::ng-deep .description-p .list-title {
    font-weight: 600;
    color: var(--black);
    display: inline;
}

::ng-deep .description-p a {
    color: rgb(85, 85, 247);
    transition: all 0.2s ease;
    &:hover {
        color: rgb(50, 50, 235);
        transition: all 0.2s ease;
    }
}

::ng-deep .description-p span {
    display: block;
    margin: 16px 0;
}

.reply {
    @apply pt-20;
    border-top: 1px solid#ededed;

    &-author {
        @apply flex gap-8;
        margin-bottom: 8px;

        &-img {
            width: 44px;
            height: 44px;
        }

        &-name {
            @apply font-semibold;
            font-size: 18px;
        }
    }

    &-date-time {
        font-size: 14px;
        color: #656e79;
    }

    &-content {
        @apply mb-5;
        margin-left: 60px;
        line-height: 1.8;
    }

    &-form {
        @apply mt-32;
        h2 {
            @apply font-semibold;
            font-size: 2.2rem;
            color: var(--black)
        }
        @apply flex flex-col gap-8;

        &-group {
            &-name {
                @apply mb-3;
                sup {
                    color: red;
                }
            }
        }
    }
}

.tags {
    @apply flex flex-wrap gap-3;
}

.blog-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;

    @media screen and (max-width: 650px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 420px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
    }
}