<div class="custom-container mb-12">
    <img [src]="blog?.thumbnail" alt="" class="blog-image">
    <div class="blog-wrapper">
        <div class="date">{{blog?.tags}} - {{blog?.date}}</div>
        <h1 class="title">{{blog?.title}}</h1>
        <div class="description">
            <p [innerHTML]="blog?.intro"></p>
            <ng-container *ngFor="let data of blog?.paragraph; let i = index">
                <p [innerHTML]="data?.content" class="description-p"></p>

                <ng-container *ngIf="data?.images">
                    <div class="mb-8 text-center">
                        <img [src]="data?.images?.path" [alt]="data?.images?.title" class="mx-auto">
                        <small>{{data?.images?.title}}</small>
                    </div>
                </ng-container>

                <ng-container *ngIf="blog?.paragraph.length > 2 && i == 2 && blog?.images.path">
                    <div class="mb-8 text-center">
                        <img [src]="blog?.images?.path" [alt]="blog?.images?.title" class="mx-auto">
                        <small>{{blog?.images?.title}}</small>
                    </div>
                </ng-container>
            </ng-container>

            <h3 class="mb-4 description-p" *ngIf="blog?.conclusion">Conclusion: </h3>
            <p>
                {{blog?.conclusion}}
            </p>

            <div class="tags mb-20 mt-16">
                <ng-container *ngFor="let tag of blog?.tags">
                    <app-tag-chip [name]="tag" (click)="getFilterBlogs(tag)"></app-tag-chip>
                </ng-container>
                <!-- <ng-container *ngFor="let tag of blog?.tags">
                </ng-container> -->
                <!-- <app-tag-chip [name]="'Social'"></app-tag-chip> -->
            </div>
        </div>

        <!-- <div class="reply">
            <div class="reply-card">
                <div class="reply-author">
                    <div class="reply-author-img">
                        <img src="../../../assets/images/profile-pic.jpg" alt="" class="rounded-full">
                    </div>
                    <div>
                        <h2 class="reply-author-name">Keval Vadhiya</h2>
                        <h2 class="reply-date-time">July 29, 2018 at 9:45 pm</h2>
                    </div>
                </div>
                <div class="reply-content">
                    <p>Aliquam in ante elit. Praesent blandit nibh ac justo auctor pretium. Maecenas mauris metus, vulputate ac volutpat sit amet, facilisis quis odio. Nam ut commodo neque. Suspendisse viverra massa eget nibh.</p>
                </div>
            </div>

            <div class="reply-form">
                <h2>Leave a Reply</h2>
                <textarea name="reply" id="reply" cols="30" rows="15" class="w-full"></textarea>
                <div class="reply-form-group">
                    <p class="reply-form-group-name">Name <sup>*</sup></p>
                    <input type="text" class="w-full">
                </div>
                <div class="reply-form-group">
                    <p class="reply-form-group-name">Email <sup>*</sup></p>
                    <input type="email" class="w-full">
                </div>
                <div class="reply-form-group">
                    <p class="reply-form-group-name">Website</p>
                    <input type="text" class="w-full">
                </div>
            </div>
        </div> -->
    </div>

</div>