<div class="custom-container mb-12">
    <img src="../../../assets/images/1.jpg" alt="">
    <div class="blog-wrapper">
        <div class="date">ART, TRAVEL - NOV 17, 2020</div>
        <div class="title">Genean mattis tortor ac sapien congue molestie eget dolor</div>
        <div class="description">
            <p>
                Quisque sollicitudin lacinia sapien, eu tincidunt nunc accumsan laoreet. Curabitur feugiat posuere odio nec tincidunt. Pellentesque sagittis nibh venenatis sapieni congue consectetur. Integer nulla nunc, efficitur sit amet sagittis sed, suscipit et magna. Nulla porttitor neque non dapibus nec elit tristique sagittis. Maecenas viverra tortor sed magna volutpat, sed semper leo interdum. Donec pharetra nulla eu mi mattis gravida.
            </p>
            
            <p>
                Proin blandit vulputate diam quis pulvinar. Fusce non libero sodales, dictum sem sed, ornare enim. Maecenas efficitur est vel placerat eleifend. Donec vel quam sollicitudin, bibendum odio eget, varius elit. Fusce semper mauris ut elit dignissim, ac imperdiet massa ullamcorper.
            </p>

            <p>
                Suspendisse viverra massa eget nibh ultricies mollis. Donec sed lorem tincidunt, ultrices ligula ut, euismod sem. Mauris nec tincidunt diam. Donec varius magna vitae velit consectetur efficitur. Sed rutrum aliquet ligula. Cras non pellentesque nisi, id laoreet nibh. Aliquam in ante elit. Praesent blandit nibh ac justo auctor pretium. Maecenas mauris metus, vulputate ac volutpat sit amet, facilisis quis odio. Nam ut commodo neque.
            </p>
        </div>

        <div class="reply">
            <div class="reply-card">
                <div class="reply-author">
                    <div class="reply-author-img">
                        <img src="../../../assets/images/profile-pic.jpg" alt="" class="rounded-full">
                    </div>
                    <div>
                        <h2 class="reply-author-name">Keval Vadhiya</h2>
                        <h2 class="reply-date-time">July 29, 2018 at 9:45 pm</h2>
                    </div>
                </div>
                <div class="reply-content">
                    <p>Aliquam in ante elit. Praesent blandit nibh ac justo auctor pretium. Maecenas mauris metus, vulputate ac volutpat sit amet, facilisis quis odio. Nam ut commodo neque. Suspendisse viverra massa eget nibh.</p>
                </div>
            </div>

            <div class="reply-form">
                <h2>Leave a Reply</h2>
                <textarea name="reply" id="reply" cols="30" rows="15" class="w-full"></textarea>
                <div class="reply-form-group">
                    <p class="reply-form-group-name">Name <sup>*</sup></p>
                    <input type="text" class="w-full">
                </div>
                <div class="reply-form-group">
                    <p class="reply-form-group-name">Email <sup>*</sup></p>
                    <input type="email" class="w-full">
                </div>
                <div class="reply-form-group">
                    <p class="reply-form-group-name">Website</p>
                    <input type="text" class="w-full">
                </div>
            </div>
        </div>
    </div>

</div>