/* You can add global styles to this file, and also import other style files */
/* tailwind css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --light-grey: #a3a199;
    --grey: #646157;
    --black: #171822;
    --primary: #ffd46d;
    --primary-light: #f8f7f3
}

* {
    margin: 0;
    padding: 0
}

html {
    font-size: 62.5%; // 1rem = 10 px; 10px/16px = 62.5%
    scroll-behavior: smooth;
  
    @media screen and (max-width: 1200px) { // width < 1200?
      font-size: 56.25%; // 1 rem = 9px; 9/16 = 56.25%
    }
  
    @media screen and (max-width: 900px) { // width < 900?
      font-size: 50%; // 1 rem = 8px; 8/16 = 50%
    }
  
    @media screen and (max-width: 500px) {
      font-size: 45%; // 1 rem = 12px; 12/16 = 75%
    }
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: var(--grey);
    overflow-x: hidden;

    @media screen and (max-width: 600px) {
      
    }
}


// Reusable CSS
.custom-container {
    @apply w-full p-4 mx-auto;

    @media screen and (max-width: 600px){
        @apply py-12 px-8;
        max-width: 540px;
    }
    @media screen and (min-width: 601px){
      // @apply py-12 px-8;
      padding: 0 20px;
      max-width: 700px;
  }
    @media screen and (min-width: 820px){
        max-width: 850px;
    }
    @media screen and (min-width: 992px){
        max-width: 960px;
    }
    @media screen and (min-width: 1200px){
        max-width: 1140px;
    }
    @media screen and (min-width: 1500px){
        max-width: 1200px;
    }
}

.date {
    margin-bottom: 4px;
    font-size: 1.2rem;
    color: #454440;

    @media screen and (max-width: 600px) {
      font-size: 12.5px;    
    }
}

.btn-primary {
    background: var(--primary);
    color: var(--black);
}

input, textarea {
    background: #f8f7f3;
    border: 1px solid #f4f4f4;
    border-radius: 0.2rem;
    padding: 1.2rem 2.4rem;
    outline: none
}

.section-title {
    @apply font-semibold my-8;
    line-height: 1.4;
    font-size: 2.4rem;
    color: var(--black);
}


@keyframes fade {
    to {
        opacity: 1;
    }
    from {
        opacity: 0;
    }
}

//skeleton-box
.skeleton-box {
    display: inline-block;
    height: 1em;
    position: relative;
    overflow: hidden;
    background-color: #DDDBDD;
  
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 20%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0)
      );
      animation: shimmer 5s infinite;
      content: '';
    }
  
    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
  }

//scroll-bar css
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--light-grey); 
    border-radius: 8px;
  }

  .custom-links {
    color: rgb(85, 85, 247);
    transition: all 0.2s ease;
    &:hover {
        color: rgb(50, 50, 235);
        transition: all 0.2s ease;
    }
}