<div class="custom-container">
    <div class="about flex gap-20">
        <div class="about-image">
            <img loading="lazy" src="../../../assets/images/keval.jpeg" alt="Keval Vadhiya">
        </div>
        <div class="about-content">
            <h1>Keval Vadhiya</h1>
            <p>
                My name is Keval Vadhiya. I graduated from Gujarat Technological University with a degree in Computer Science & Engineering. I have been working as Angular Developer for more than 2+ years. I have created this blog site for my portfolio. My objective is to produce excellent final products while writing clear and intelligible code. I have a strong attention to detail and persistence. I am self-motivated, growth-oriented, and eager to learn new things.
                <br><br>
                In addition to coding, I also enjoy playing video games 🎮 and watching movies 📽️.
            </p>
            <p class="about-social">
                <a href="https://m.facebook.com/profile.php?id=100008179782042" target="_blank"> <i class="fa-brands fa-facebook"></i> </a>
                <a href="https://twitter.com/kevalvadhiya101" target="_blank"> <i class="fa-brands fa-twitter"></i> </a>
                <a href="https://www.instagram.com/_keval_101/" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.linkedin.com/in/keval-v-914064199/" target="_blank"> <i class="fa-brands fa-linkedin"></i> </a>
                <a href="https://github.com/keval101" target="_blank"> <i class="fa-brands fa-github"></i> </a>
            </p>
        </div>
    </div>

</div>