<div class="news-letter px-20 py-28">
    <div>
        <h1 class="news-letter-title">Subscribe and Stay Informed</h1>
        <p class="news-letter-description">Join our community of avid learners and stay updated with the latest insights, trends, and knowledge. When you subscribe to our newsletter, you'll gain exclusive access to valuable content delivered right to your inbox.</p>
        <div class="email-group">
            <input type="email" placeholder="Enter Your Email Address">
            <button type="submit" class="btn-primary">Subscribe</button>
        </div>
    </div>
</div>