<div class="news-letter px-20 py-28">
    <div>
        <h1 class="news-letter-title">Subscribe and Stay Informed</h1>
        <p class="news-letter-description">Oratio pertinax cu vix, id his aliquam habemus tractatos. Eu vis cursus modo officiis liberavisse id invidunt adipiscing cursus has.</p>
        <div class="email-group">
            <input type="email" placeholder="Enter Your Email Address">
            <button type="submit" class="btn-primary">Subscribe</button>
        </div>
    </div>
</div>